<div class="container mt-4">
  <div class="row clearfix">
    <div class="col mb-3">
      <button
        type="button"
        routerLink="/match/create"
        class="btn btn-primary btn-sm float-right"
      >
        New +
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th class="text-center" style="width: 50px">#</th>
            <th>Match</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th class="text-center" style="width: 130px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of matches; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ match.matchNo }}</td>
            <td>{{ match.teams[0]?.teamName }}</td>
            <td>{{ match.teams[1]?.teamName }}</td>
            <td class="text-center">
              <button
                routerLink="/match/create/{{ match.id }}"
                class="btn btn-primary btn-sm mx-1"
              >
                Edit
              </button>
              <button
                class="btn btn-danger btn-sm mx-1"
                (click)="deleteMatch(match.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
