<div class="container mt-4">
  <form [formGroup]="teamForm" (submit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <label for="txtTeamName" class="form-label">Team</label>
        <input
          type="text"
          class="form-control"
          id="txtTeamName"
          formControlName="teamName"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="txtHomeCity" class="form-label">Home City</label>
        <input
          type="text"
          class="form-control"
          id="txtHomeCity"
          formControlName="homeCity"
        />
      </div>
    
      <div class="col">
        <label for="txtCoach" class="form-label">Coach</label>
        <input
          type="text"
          class="form-control"
          id="txtCoach"
          formControlName="coach"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
