<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
          <div formGroupName="playerData">
            <div class="form-group">
              <label for="playerName">Player Name</label>
              <input
                type="text"
                id="playerName"
                formControlName="playerName"
                class="form-control">
              <span
                *ngIf="!playerForm.get('playerData.playerName').valid && playerForm.get('playerData.playerName').touched"
                class="help-block">
                <span *ngIf="playerForm.get('playerData.playerName').errors['nameIsForbidden']">This name is invalid!</span>
                <span *ngIf="playerForm.get('playerData.playerName').errors['required']">This field is required!</span>
              </span>
            </div>
          </div>
          <span
            *ngIf="!playerForm.valid && playerForm.touched"
            class="help-block">Please enter valid data!</span>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  