<div class="container mt-4">
  <form [formGroup]="playerForm" (submit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <label for="txtFirstName" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="txtFirstName"
          formControlName="firstName"
        />
      </div>
      <div class="col">
        <label for="txtLastName" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="txtLastName"
          formControlName="lastName"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="ddlTeam" class="form-label">Team</label>
        <select
          type="text"
          class="form-select"
          id="ddlTeam"
          formControlName="teamId"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let team of teams" value="{{ team.id }}">
            {{ team.teamName }}
          </option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
