<div class="container mt-4">
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th class="text-center" style="width: 50px;">#</th>
        <th>Team</th>
        <th class="text-center" style="width: 130px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ team.teamName }}</td>
        <td class="text-center">
          <button
            routerLink="/team/create/{{ team.id }}"
            class="btn btn-primary btn-sm mx-1"
          >
            Edit
          </button>
          <button
            class="btn btn-danger btn-sm mx-1"
            (click)="deleteTeam(team.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
