<div class="container mt-4">
    <form [formGroup]="matchForm" (submit)="onSubmit()">
      <div class="row mb-3">
        <div class="col">
          <label for="txtFirstName" class="form-label">Match No.</label>
          <input
            type="text"
            class="form-control"
            id="txtMatchNo"
            formControlName="matchNo"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
            <label for="ddlHomeTeam" class="form-label">Home Team</label>
            <select
              type="text"
              class="form-select"
              id="ddlHomeTeam"
              formControlName="homeTeamId"
            >
              <option value="0">-Select-</option>
              <option *ngFor="let team of teams" value="{{ team.id }}">
                {{ team.teamName }}
              </option>
            </select>
          </div>
        <div class="col-6">
          <label for="ddlAwayTeam" class="form-label">Away Team</label>
          <select
            type="text"
            class="form-select"
            id="ddlAwayTeam"
            formControlName="awayTeamId"
          >
            <option value="0">-Select-</option>
            <option *ngFor="let team of teams" value="{{ team.id }}">
              {{ team.teamName }}
            </option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  